h1{
    text-align: center;
    color: blue;
}
.sub-content,.latestrepo{
    text-align: center;
}
.form-control{
    text-align: center;
    border-radius: 20px;
    width:40vw;
    height: 7vh;
    margin-left: 30vw;
    border-color: blue;
    font-size: 20px;
}
.detail,.repodetail{
    font-size: 20px;
}
.location{
    margin-top:20px;
}
.view{
    size: 30px;
    background-color: blue;
    color: white;
}
.container{
    width: 50vw;
    text-align: center;
}
.well{
    width:60vw;
    margin-left: 20vw;
}
