/* .container-fluid{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.content{
    height: 60vh;
    width:40vw;
    margin-left: 30vw;
}
.sub-content,.form-control{
    font-size: 24px;
} */
.detail,.repodetail{
    font-size: 20px;
}
.location{
    margin-top:20px;
}
.view{
    size: 30px;
    background-color: blue;
    color: white;
}
.container{
    width: 40vw;
}
